%flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food {
    width: 290px;
    height: 370px;
    background: var(--slate);
    border: 1px solid var(--white);
    border-radius: 30px;
    margin-top: 150px;
    position: relative;
    padding: 140px 31px 45px 35px;
    @extend %flex_col;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
}

.food__img {
    position: absolute;
    top: -120px;
    left: 45px;
    width: 200px;
    height: 200px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.food__title {
    font-size: 26px;
    font-weight: 500;
    text-transform: capitalize;
}

.food__desc {
    font-size: 12px;
    font-weight: 400;
}

.food__rate {
    @extend %flex_center;
    gap: 7px;
    p {
        font-size: 12px;
        color: var(--orange);
    }
}

.food__star-full {
    font-size: 17px;
    color: var(--orange);
}

.food__star-cream {
    font-size: 17px;
    color: var(--whiteBrown);
}

.food__price {
    font-size: 26px;
    font-weight: 500;
    color: var(--black);
}

.food__action {
    position: absolute;
    right: 28px;
    bottom: 23px;
    width: 100px;
    height: 50px;
    font-size: 18px;
    background: var(--black);
    color: var(--white);
    @extend %flex_center;
    justify-content: space-evenly;
    border-radius: 50vw;
    cursor: pointer;
    border: none;
}