%flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth {
  width: 100%;
  min-height: 100vh;
  @extend %flex_center;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  background: var(--blueGray);
  gap: 30px;
}

.auth__image {
  height: 762px;
  width: 692px;
  padding: 30px;
  img {
      border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.auth__right {
  width: 50%;
  @extend %flex_col;
}

.auth__right-top {
  width: 100%;
  @extend %flex_col;
  gap: 20px;
}

.auth__logo {
  width: 25px;
  align-self: flex-end;
  margin-bottom: 35px;
}

.auth__right-title {
  font-size: 16px;
}

.auth__right-nav {
    width: 100%;
  padding: 10px;
  background: var(--whiteBrown);
  border-radius: 50vw;
  button {
    border-radius: 50vw;
    cursor: pointer;
  }
  button:nth-child(1) {
    font-size: 16px;
    border: none;
    padding: 12px;
    width: 45%;
  }
  button:nth-child(2) {
    font-size: 16px;
    border: none;
    padding: 12px;
    width: 55%;
  }
  .auth__right-active {
    background: var(--brown);
    color: var(--white);
  }
  .auth__right-link {
    color: var(--brown);
    background: transparent;
  }
}

.form {
  width: 100%;
  @extend %flex_col;
  align-items: flex-end;
  gap: 15px;
}

.form__title {
  color: var(--gray);
  font-weight: 400;
}

.form__input {
    position: relative;
  width: 100%;
  @extend %flex_col;
  align-items: flex-start;
  gap: 12px;
  input {
    width: 100%;
    padding: 15px 31px;
    border: 1px solid var(--brown);
    border-radius: 50vw;
    outline: none;
  }
}

.auth__btn {
    width: 232px;
    padding: 15px;
    background: var(--brown);
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
    border-radius: 50vw;
    margin-top: 30px;
    cursor: pointer;
}

.auth__eye {
    font-size: 18px;
    position: absolute;
    bottom: 15px;
    right: 31px;
    cursor: pointer;
}

.form__avatar {
  width: 100%;
  background: var(--brown) !important;
}

.verify {
  max-width: 450px;
  width: 100%;
  @extend %flex_col;
  align-items: flex-start;
  gap: 30px;
}

.verify__container {
  width: 100%;
  height: 100vh;
  @extend %flex_center;
}

@media (max-width: 1100px) {
    .auth__image {
        padding: 0;
        img {
            object-fit: contain;
        }
    }
}

@media (max-width: 990px) {
    .auth__image {
        display: none;
    }
    .auth {
        justify-content: center;
    }
}