%flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__body {
    @extend %flex_col;
    width: 100%;
    gap: 5px;
}

.modal__image {
    position: relative;
    width: 100%;
    height: 150px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    input {
        width: 100%;
        height: 100%;
        background: red;
        opacity: 0;
        position: absolute;
        z-index: 2;
        cursor: crosshair;
    }
}

.modal__inputs {
    width: 100%;
    @extend %flex_col;
    gap: 10px;
    input, select, textarea {
        width: 100%;
        border: 1px solid silver;
        padding: 12px;
        border-radius: 6px;
        outline: none;
    }
    input:focus, select:focus, textarea:focus {
        border: 1px solid var(--orange);
    }
    textarea {
        resize: none;
    }
}

.modal__btn {
    padding: 8px 24px;
    height: 40px;
    background: var(--orange);
    border-radius: 15px;
    white-space: nowrap;
    color: var(--white);
    font-size: 16px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px silver;
}

// delete modal

.delete__body {
    width: 100%;
    @extend %flex_col;
    gap: 10px;
}

.delete__title {
    font-size: 24px;
}

.delete__buttons {
    @extend %flex_center;
    gap: 10px;
    button {
        padding: 8px 12px;
        border-radius: 6px;
        border: none;
        cursor: pointer;
    }
    .delete__btn-cancel {
        background: aqua;
        color: aliceblue;
    }
    .delete__btn-delete {
        background: red;
        color: aliceblue;
    }
}