%flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
    width: 100%;
    min-height: 100vh;
    background: var(--cream);
    @extend %flex_center;
    justify-content: start;
    align-items: flex-start;
    gap: 7px;
}

.home__sidebar {
    width: 100px;
    height: 100vh;
}

.home__center {
    width: calc(100% - 480px);
}

.home__category {
    max-width: 1035px;
    overflow-x: scroll;
    padding: 10px 24px;
    @extend %flex_center;
    justify-content: start;
    gap: 15px;
    overflow-x: auto;
    scrollbar-width: none;
}

.home__right {
    width: 336px;
}

.home__foods {
    padding: 24px;
    @extend %flex_center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 900px) {
    .home__foods {
        padding: 10px;
        width: 100%;
    }
    .home {
        align-items: flex-start;
        justify-content: start;
        overflow: hidden;
        gap: 0;
        padding-bottom: 100px;
        padding-right: 20px;
    }
    .home__center {
        width: 100%;
        padding: 10px;
    }
    .home__sidebar,.home__right {
        width: 0;
    }
    .home__category {
        margin-left: 10px;
    }
}

@media (max-width: 650px) {
    .home__foods {
        justify-content: center;
    }
}