%flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    border: 1px solid var(--white);
    border-radius: 0px 30px 30px 0px;
    background: var(--slate);
    @extend %flex_col;
}

.sidebar__logo {
    position: absolute;
    top: 52px;
    left: 27px;
    width: 40px;
    height: 40px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.sidebar__list {
    @extend %flex_col;
    list-style: none;
    gap: 30px;
}

.sidebar__link {
    width: 48px;
    height: 48px;
    @extend %flex_center;
    color: var(--black);
}

.sidebar__link-active {
    width: 48px;
    height: 48px;
    background: var(--black);
    @extend %flex_center;
    border-radius: 50vw;
    color: var(--white);
}

@media (max-width: 900px) {
    .sidebar {
        right: 0;
        bottom: 0;
        height: 100vw;
        background: var(--white);
        z-index: 12;
        width: 100%;
        height: 100px;
        border-radius: 30px 30px 0 0;
    }
    .sidebar__list {
        flex-direction: row;
    }
    .sidebar__logo {
        left: 27px;
        top: 27px;
    }
}


@media (max-width: 447px) {
    .sidebar {
        height: 60px;
    }
    .sidebar__logo {
        display: none;
    }
}