%flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  max-width: 450px;
  width: 100%;
  @extend %flex_col;
  align-items: flex-start;
  gap: 30px;
}


.login__bottom {
    width: 100%;
    @extend %flex_center;
    justify-content: space-between;
}

.login__remember {
    display: flex;
    gap: 5px;
    align-items: flex-start;
    label {
        font-size: 12px;
        font-weight: 300;
    }
    input {
        width: 16px;
        height: 16px;
    }
}

.login__forgot {
    font-size: 12px;
    font-weight: 300;
    color: var(--black);
    text-decoration: none;
}

@media (max-width: 990px) {
    .login {
        width: 350px;
        padding: 20px;
    }
}

@media (max-width: 769px) {
    .login {
        width: 315px;
        padding: 20px;
    }
}