%flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
    position: fixed;
    right: 0;
    top: 0;
    width: 336px;
    height: 100vh;
    background: var(--slate);
    border-radius: 30px 0 0 30px;
    border: 1px solid var(--white);
    padding: 20px;
    @extend %flex_col;
    justify-content: start;
    align-items: flex-start;
}

.right__title {
    font-size: 24px;
    font-weight: 700;
    font-family: serif;
}

.right__cards {
    width: 100%;
    @extend %flex_col;
    justify-content: start;
    margin-top: 34px;
    height: 340px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.right__card {
    background: var(--slate2);
    @extend %flex_center;
    justify-content: start;
    gap: 10px;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    padding-right: 15px;
    margin-bottom: 25px;
}

.right__card-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.right__card-text {
    width: 100%;
    @extend %flex_col;
    align-items: flex-start;
    gap: 14px;
}

.right__card-title {
    font-size: 18px;
    font-weight: 700;
}

.right__card-bottom {
    width: 100%;
    @extend %flex_center;
    justify-content: space-between;
    color: var(--gray);
}

.right__bill {
    width: 100%;
    background: var(--slate2);
    border-radius: 20px;
    padding: 25px;
    @extend %flex_col;
    gap: 15px;
}

.right__bill-text {
    width: 100%;
    @extend %flex_center;
    justify-content: space-between;
}

.right__bill-title {
    font-size: 16px;
    color: var(--gray);
}

.right__bill-price {
    font-size: 16px;
    font-weight: 500;
}

.right__bill-total {
    margin-top: 10px;
    border-top: 2px dashed var(--gray);
    width: 100%;
    padding-top: 24px;
    @extend %flex_center;
    justify-content: space-between;
    h1 {
        font-size: 16px;
        font-weight: 700;
    }
}

.right__checkout {
    width: 100%;
    border-radius: 14px;
    padding: 16px 16px 25px;
    font-size: 24px;
    border: none;
    background: var(--orange);
    font-weight: 700;
    color: var(--white);
    margin-top: 20px;
}

.right__open {
    position: absolute;
    top: 45%;
    left: -15px;
    width: 30px;
    height: 30px;
    background: var(--black);
    border-radius: 50%;
    border: none;
    color: var(--white);
    font-size: 20px;
    @extend %flex_center;
    cursor: pointer;
    display: none;
}


@media (max-width: 900px) {
    .right {
        right: -320px;
        box-shadow: 0 0 10px silver;
        transition: .3s all;
    }
    .right__open {
        display: flex;
        transition: .5s all;
    }
    .right_0 {
        z-index: 13;
        right: 0 !important;
        background: var(--white);
    }
    .right__close {
        transform: rotate(180deg);
    }
    .right__card {
        border: 1px solid silver;
    }
}